@model ResumeEditor.EF.TransactionExperienceAchievementItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TransactionExperienceAchievementItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TagSkills)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TagSkills)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionExperienceAchievement.AchievementTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionExperienceAchievement.AchievementTitle)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
